<section class="main-education" style="padding-top: 2em;"    >
    <div class="info-titulo">
        <h1>Educación</h1>
    </div>
    <div class="education-content">
        <div class="content">
            <img  width="150" higth="150" class="img-education" alt="Unexpo-Kaira"
            [src]="miEducacion.logo"/>

            <p>{{miEducacion.universidad}}<br>
                {{miEducacion.ubicacion}}<br>
                <i>Titulo: </i> <strong>{{miEducacion.grado}}</strong>
            </p>
        </div>
       
    </div>

</section>