<section class="main-projects">
    <div class="info-titulo">
        <h1>Proyectos</h1>
    </div>
    <div class="projects-content">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col"  *ngFor="let proyectos of miProyectos">
                <div class="card-projects card h-100">
                    <img  class="card-img-top" width="200" height="200" alt="mytinerary-Kaira"
                    [src]="proyectos.img" />
                </div>
            </div>
        </div>
    </div>
</section>
