<section class="main-hard-skills">
   
       <h1 class="hard-titulo">Hard Skills</h1>
    
    <div class="hard-content container" *ngFor="let hard of miHards">

       <img  width="75" height="75"
        [src]="hard.img"/>
        <!--<div class="progress">
            <div class="barra progress-bar progress-bar-striped" role="progressbar"
                aria-label="Default striped example" style="width: 88%" aria-valuenow="10" aria-valuemin="0"
                aria-valuemax="100">{{hard.titulo}}</div>
        </div>-->

       <div class="hard-progress">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [showUnits]="true"
        [showSubtitle]="false"
        [outerStrokeColor]="'#14B6BB'"
        [innerStrokeColor]="'#F6921F'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
      </div>
        
        <!-- <img src="./img/cssLogo.png" width="70" height="80">
        <div class="progress">
            <div class="barra progress-bar progress-bar-striped" role="progressbar"
                aria-label="Default striped example" style="width: 79%" aria-valuenow="10" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <img src="./img/jsLogo.png" width="80" height="80">
        <div class="progress">
            <div class=" barra progress-bar progress-bar-striped" role="progressbar"
                aria-label="Default striped example" style="width: 73%" aria-valuenow="10" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <img src="./img/bootstrapLogo.png" width="80" height="80">
        <div class="progress">
            <div class="barra progress-bar progress-bar-striped bg-warning" role="progressbar"
                aria-label="Default striped example" style="width: 78%" aria-valuenow="10" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <img src="./img/angularLogo.png" width="110" height="80">
        <div class="progress">
            <div class="barra progress-bar progress-bar-striped bg-warning" role="progressbar"
                aria-label="Default striped example" style="width: 40%" aria-valuenow="10" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div> -->
    </div>

</section>