<section class="main-about">

    <div class="about-info">
        <img src="./img/imgAbout1.jpg" class="img-about" alt="About-Kaira">
        <div class="content-about">
            <h1>Acerca de mi</h1>
            <div class="paragraph-about">
                <p>Profesional en Ingeniería Mecánica, motivada por la capacidad de interpretación y la
                    curiosidad
                    por
                    el mundo IT, me inicie en la formación, aprendizaje y adquisición de conocimiento para el
                    desarrollo
                    de aplicaciones Web, con las
                    herramientas básicas de programación.
                </p>
                <p>Soy una persona con actitud positiva, disponibilidad inmediata, ganas de aprender y a la vez
                    aportar
                    los conocimientos que poseo.</p>
                <p>Soy comunicativa, dinámica y con facilidad de adaptación. Me considero con capacidad de
                    liderazgo,
                    organización y de trabajo en
                    equipo, con iniciativa de resolver problemas eficientemente y lograr las metas y objetivos
                    trazados.
                </p>
            </div>
            <div class="about-bottom">
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Tengo Interés En</button>
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Añadir Sección</button>
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Más</button>
               
                  
            </div>
              
        </div>
    </div>
</section>