<section class="main-about">

    <div class="about-info">
        <img  class="img-about" alt="About-Kaira"
        [src]="miAcerca.informacion.img"/>
        <div class="content-about">
            <h1>Acerca de mi</h1>
            <div class="paragraph-about"><p>{{miAcerca.informacion.acerca}}</p></div>
            <div class="about-bottom">
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Tengo Interés En</button>
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Añadir Sección</button>
                <button type="button" class="aboutb btn btn-outline-warning btn-md">Más</button>
               
                  
            </div>
              
        </div>
    </div>
</section>