<header>
    <nav class="navbar navbar-expand-lg p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src ="https://i.ibb.co/3NFqGtB/logo.png" class="rounded float-start" width="180px"
                    alt="..."></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse " id="navbarScroll">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="--bs-scroll-height: 100px;">
                        <li class="nav-item fa-3x">
                            <a class="nav-link" href="#"><i class="fa-brands fa-linkedin fa-flip"
                                    style="--fa-animation-duration: 5s;"></i></a>
                        </li>
                        <li class="nav-item fa-3x">
                            <a class="nav-link active" aria-current="page" href="#"><i
                                    class="fa-brands fa-square-github fa-flip"
                                    style="--fa-animation-duration: 5s;"></i></a>
                        </li>
                        <li class="nav-item fa-3x">
                            <a class="nav-link" href="#"><i class="fa-brands fa-square-twitter fa-flip"
                                    style="--fa-animation-duration: 5s;"></i></a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-dark btn-md" type="submit"><strong>Iniciar Sessión</strong>
                    </button>
                </div>
            </div>
        </div>

    </nav>
</header>