<section class="main-experience">
    <div class="info-titulo">
        <h1>Experiencia</h1>
    </div>
    <div class="experience-content">
        <div class="row row-cols-1 row-cols-md-3 g-4"  >
            <div class="col" *ngFor="let experiencia of miExperiencia">
                <div class="card-experience card h-100">
                    <img  class="card-img-top" width="200px" height="200px" alt="5asec-Kaira"
                    [src]="experiencia.img"/>
                    <div class="card-body">
                        <h5 class="card-title">{{experiencia.titulo}}</h5>
                        <p class="card-text">{{experiencia.descripcion}}</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>