@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar, .main-about, .main-education, .main-hard-skills, .main-footer {
  background: #c99a8e;
}

.main-banner, .main-about, .main-experience, .main-education, .main-soft-skills, .main-hard-skills, .main-projects {
  text-align: center;
  min-height: calc(81vh - 97px);
  padding: 2em;
}

.info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-banner h1 {
  font-size: 3em;
  font-weight: 600;
}

.info-content span {
  color: #dda00d;

}

.download-cv {
  padding: 10px 20px;
  background-color: #737a48;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rg#737a48;
  -moz-box-shadow: 1px 3px 11px -5px #737a48;
  box-shadow: 1px 3px 11px -5px #737a48;
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.info-img, .img-about {
  
  box-shadow: 15px 15px 40px #c99a8e;
  border: 6px solid #737a48;
  width: 28%;
  border-radius: 10px;
}


.about-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin-left: 1em;

}

.about-info h1 {
  font-size: 2.5em;
  color: #737a48;
  text-align: center;
  font-weight: 600;
  -webkit-text-stroke: 0.5px #737a48;
  letter-spacing: 0;
  text-shadow: -2px -2px 2px white, 2px -2px 2px #dda00d;


}

.aboutb {
  background-color: #737a48;
  color: white;
}

.paragraph-about p {
  margin-left: 3em;
  color: white;
  text-align: justify;
  margin-right: 2em;
}

.experience-content,.soft-content progress,
.hard-content progress,.projects-content {
  min-height: calc(80vh - 97px);
  margin-left: 3em;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.info-titulo h1 {
  text-align: center;
  /* margin-top: 1em; */
  font-size: 2.5em;
  color: #737a48;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: -2px -2px 2px white, 2px -2px 2px #dda00d;
}

.card-experience, .card-projects {
  border: 3px solid #737a48;
  box-shadow: 10px 10px 25px #c99a8e
}

.card-title {
  color: #dda00d;
  font-weight: bold;

}

.content {
  display: flex;
  justify-content: center;

}

.content p {
  align-self: center;
}
.courses{
  display: flex;
}
.info-courses h2 {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
  padding-top: 4%;
  margin-bottom: 4%;
  text-shadow: -2px -2px 2px white, 2px -2px 2px #dda00d;
}

.courses-cards{
  min-height: calc(80vh - 97px);
  margin-left: 3em;
  margin-right: 2em;
  align-items: center;
  justify-content: center;
}
.card-courses {
  border: 3px solid #dda00d;
  box-shadow: 8px 8px 15px #737a48;
}
.soft-content p{
  
  font-size: 17px;
  font-weight: bold;
}
.soft-content,.hard-content{
  margin-top: 3%;
  margin-left: 3em;
  margin-right: 3em;
}

.barra{
  background-color: #dda00d;
}

.main-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: calc(40vh - 77px);
  padding: 2em;
}

