@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Montserrat', sans-serif;
}
.main-about,.main-education,.main-courses,.main-projects{
  background: #F8CE18;
}
.navbar,.main-soft-skills, .main-footer {
  background: #CF016D;
}

.main-banner, .main-about,.main-projects{
  
  display: flex;
    text-align: center;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
}
.main-experience {
  
  display: flex;
  text-align: center;
  height: 74vh;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
}


.info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-banner h1 {
  font-size: 4.5em;
  font-weight: 600;
}

.info-content span {
  color: #F6921F;

}

.download-cv {
  padding: 10px 20px;
  background-color: #14B6BB;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rg#CF016D;
  -moz-box-shadow: 1px 3px 11px -5px #CF016D;
  box-shadow: 1px 3px 11px -5px #c99a8e;
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}
.info-img {

  border: 2px solid #F6921F;
  width: auto;
  height: 75%;
  border-radius: 10px;
}
.img-about {
  position: relative;
  border: 2px solid #CF016D;
  width: 50%;
  border-radius: 10px;
}

.about-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin-left: 1em;

}

.about-bottom{
  display: flex;
  justify-content: center;
}
.aboutb {
  background-color: #14B6BB;
  color: white;
}

.paragraph-about p {
  margin-left: 6em;
  font-size: 1.2em;
  color: black;
  text-align: justify;
  margin-right: 6em;
  padding-bottom: 100px;
}

.experience-content,
.projects-content {
  height: 100%;
  margin-left: 3em;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  object-fit: cover;
}

.info-titulo h1 {
  text-align: center;
  font-size: 3.5em;
  color: #14B6BB;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: -2px -2px 2px white, 2px -2px 2px #F6921F;
}

.card-experience, .card-projects {
  border: 3px solid #CF016D;
  box-shadow: 10px 10px 25px #c99a8e;
  border-radius: 10px;
  width: 75%;
  margin-left: 5em;
 
}

.card-title {
  color: #F6921F;
  font-weight: bold;

}

.content {
  display: flex;
  justify-content: center;

}

.content p {
  align-self: center;
}
.courses{
  display: flex;
}
.info-courses{
  display: flex;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
  padding-top: 4%;
  margin-bottom: 4%;
  text-shadow: -2px -2px 2px white, 2px -2px 2px #F6921F;
}

.courses-cards{

  margin-left: 9em;
  align-items: center;
  justify-content: center;
}

.card-courses {
  width: 75%;
  border-radius: 10px;
  border: 3px solid #CF016D;
  box-shadow: 8px 8px 15px #c99a8e;
}

.main-soft-skills, .main-hard-skills{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soft-titulo{
    font-size: 3.5em;
    color: #14B6BB;
    font-weight: 600;
    letter-spacing: 0;
    text-shadow: -1px -1px 1px white, 2px -2px 2px #f6921f;
    margin: 0px 0px 55px 0px;
}
.hard-titulo{
  position: absolute;
  font-size: 3.5em;
  color: #14B6BB;
  font-weight: 600;
  letter-spacing: 0;
  text-shadow: -1px -1px 1px white, 2px -2px 2px #f6921f;
  margin: 0em 0em 7em 0em;
}
.soft-content p{
  
  font-size: 17px;
  font-weight: bold;
}

.barra{
  background-color: #F6921F;
}

.main-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  padding: 2em;
  color:#F6921F;
}
.iconos{
  display: flex;
  justify-content: center;
}

